*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: JetBrains Mono;
    color: white;
    font-size: 1em;
}
#root{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
body{
    height: 100vh;
    background-color: #36393E;
}
.navbar{
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 2vw;
    background-color: #282B30;
    color: #ebebeb;
    font-family: JetBrains Mono;
    font-weight: Regular;
    font-size: 4vh;
    opacity: 1;
    letter-spacing: 0.4vw;
    position: sticky; /* Sticky for scrolling behavior */
    z-index: 10;      /* Ensure it's above other elements */
}

.instructionsBox {
    height: 92%;
}
.instructionCards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 2%;
    gap: 2vw;
    height: 100%;
}

.instructionCards > :nth-child(1){
    margin-bottom: 3vh;
}

.instructionCards > :nth-child(2){
    margin-top: 6vh;
}

.instructionCards > :nth-child(3){
    margin-bottom: 8vh;
}

.instructionText{
    padding: 4% 6%;
    height: 20%;
    font-size: 3.5vh;
    font-weight: Regular;
    font-family: JetBrains Mono;
    color: #ebebeb;
    opacity: 1;
    text-align: left;
}

.instructionCard{
    border: 1px solid black;
    height: 60vh;
    width: 20vw;
    background-color: #212121;
    border-radius: 2.2vh;
    display: flex;
    flex-direction: column;
}

.ChatGPT_Chat_Image{
    background-image: url("./assets/chatGPT_chat.png");
}

.instruction1_Image{
    background-image: url("./assets/instruction1.png");
}

.instructionCard > .instructionImageBox {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 0 0 2vh 2vh;
}

.circle-button {
    background-color: #00A4D8;
    color: white;
    border: none;
    border-radius: 50%;
    width: 4vw;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    
    position: fixed;
    bottom: 1vw;
    right: 0.5vw;
}
.circle-button:hover {
    background-color: #008BB0;
}

.addForm {
    position: fixed;
    bottom: 2vh;
    right: 2vh;
    transform: translate(-8vh, -8vh);
    background-color: #2b2b2b;
    color: white;
    border-radius: 1vh;
    padding: 2vh;
    box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.addForm h1, .editForm h1 {
    font-size: 2vh;
    margin-bottom: 1vh;
}

.addForm label, .editForm label {
    display: block;
    margin: 1vh 0 1vh;
    font-size: 0.8vw;
}

.addForm input, .editForm input, .addForm textarea, .editForm textarea {
    width: 100%;
    padding: 0.8vh;
    margin-bottom: 1vh;
    border-radius: 0.5vh;
    border: 0.2vh solid #ccc;
    color: black;
}

.addForm button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 1vh;
    border-radius: 5vh;
    cursor: pointer;
    width: 100%;
    font-size: 0.8vw;
}

.addForm button[type="submit"]:hover {
    background-color: #45a049;
}

.close-button {
    background: none;
    border: none;
    color: white;
    font-size: 2vh;
    position: absolute;
    top: 1vh;
    right: 1vh;
    cursor: pointer;
}

.boozeList, .extrasList{
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    padding: 2vw 2vw ;
    gap: 4vh 4vw;
    height: fit-content;
}

.boozeCard, .extraCard{
    overflow: scroll;
    border: 0.15vw solid black;
    height: 55vh;
    width: 20vw;
    background-color: #212121;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    padding: 1vw;
}

.boozeCard > p, .extraCard > p{
    overflow: scroll;
    font-size: 1vw;
}

.boozeCard > h2, .extraCard > h2{
    height: 10vh;
    overflow: scroll;
    font-size: 1vw;
}

.boozeNotesTitle, .extraNotesTitle{
    position: relative;
    font-size: 1vw;
    font-weight: Regular;
    font-family: JetBrains Mono;
    color: white;
    margin-top: 10px;
}

.boozeCard > textarea, .extraCard > textarea{
    width: 100%;
    height: 25%;
    margin-top: 1vh;
    background-color: #212121;
    color: white;
    font-size: 0.8vw;
    font-weight: Regular;
    resize: none;
}

.booze-image, .extra-image {
    width: 100%;
    height: 24vh;
    object-fit: contain;
    overflow: hidden;
    font-size: 1vw;
}

.line{
    width: 100%;
    height: 0.2vh;
    background-color: white;
    margin: 1vh 0;
}
.boozeNotes, .extraNotes {
    border: none; /* Light border color */
    border-radius: 0.5vw; /* Rounded corners */
    padding: 1vh 1vh; /* Padding for inner spacing */
    resize: vertical; /* Allow vertical resizing */
    font-size: 16vw; /* Font size for better readability */
    line-height: 1.5vh; /* Line height for better spacing */
    transition: border-color 0.2s ease, box-shadow 0.2s ease; /* Smooth transitions */
    background-color: #f9f9f9; /* Light background color for contrast */
}

/* Hover state */
.boozeNotes:hover, .extraNotes:hover {
    border-color: #4CAF50; /* Change border color on hover */
}

/* Focus state */
.boozeNotes:focus, .extraNotes:focus {
    outline: none; /* Remove default focus outline */
    border-color: transparent; /* Hide the border when focused */
    box-shadow: 0 0 0 0.2vw #4CAF50; /* Add a solid outline effect */
}

.copy-button {
    background-color: #4CAF50; /* Green */
    color: black;
    border: none;
    border-radius: 0.8vh;
    font-size: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: transform 0.3s;
}

.copy-button:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
    background-color: #45a049; /* Darker green on hover */
}

.copy-button:focus {
    outline: none; /* Remove default outline */
    box-shadow: 0 0 5px rgba(0, 200, 0, 0.5); /* Custom focus shadow */
}

.chatgpt-button {
    display: inline-block;
    width: 20%; /* Adjust size as needed */
    border: none;
    background: transparent; /* No background */
    cursor: pointer;
    transition: transform 0.3s; /* Animation effect */
}

.chatgpt-button:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
}

.chatgpt-logo {
    width: 100%; /* Adjust size as needed */
    height: 100%; /* Adjust size as needed */
    background-size: contain; /* Scale the image to fit */
    background-repeat: no-repeat; /* No repeating of the image */
    margin-top: 1vh;
}

.clear-button{
    background-color: rgb(255, 100, 100);
}

.clear-button:hover{
    background-color: rgb(255, 33, 33);
}

.boozeButtons{
    height: 4vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 6vw;
    width: 50vw;
}
.boozeButtons > button{
    height: 100%;
    width: 10%;
    text-align: center;
}

.boozeButtons > a{
    width: 6vh;
}

.boozeButtons > a > img{
    width: 100%;
    height: 100%;
}

.pressable{
    cursor: pointer;
    transition: transform 0.3s;
}

.pressable:hover{
    transform: scale(1.05);
}

.navbar-logo{
    padding: 2vh 3vh;
    width: 5vh;
    height: 5vh;
    background-repeat: no-repeat;
    background-size: contain;
}

.navMenu{
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    right: 0px;
    top: 0px;
    background-color: #282B30;
    height: 100vh;
    width: 10vw;
    z-index: 15;
}
.navMenu > a{
    color: white;
    font-size: 2vh;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-button{
    background-color: #282B30;
    color: white;
    border: none;
    border-radius: 1vh;
    padding: 1vh 1vh;
    font-size: 2vh;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: transform 0.3s;
    text-align: start;
    width: 80%;
}

.nav-button:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
}

.navMenuClose{
    text-align: center;
    width: fit-content;
    padding: 5% 10%;
    align-self: flex-start;
}

.active{
    color: #00A4D8;
}

.dropdown{
    position: absolute;
    top: 10vh;
    left: 30vw;
    background-color: #282B30;
    padding: 2vh;
    border-radius: 0 0 10px 10px;
    width: 30vw;
    height: fit-content;
    z-index: 10;
}

.dropdown > textarea{
    width: 100%;
    height: 20vh;
    margin-top: 1vh;
    background-color: #21212100;
    color: white;
    font-size: 0.6em;
    font-weight: Regular;
    font-family: JetBrains Mono;
    border: none;
    resize: none;
    outline:0px !important;
    appearance: none;
    -webkit-appearance: none;
    box-shadow: none !important;
    border: 1px solid #ccc;
    padding: 1%;
}

/* Newest CSS */
main{
    padding: 1vw;
}

.divider{
    width: 100%;
    height: 0.5vh;
    background-color: white;
    margin: 1vh 0;
}

.selectTypeButtonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    margin: 2vh 0;
}

.selectTypeButton{
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    padding: 1vh 2vh; 
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 2vh;
    cursor: pointer;
    transition: background-color 0.3s;
}

.x-sign{
    font-size: 3vh;
    color: white;
    cursor: pointer;
}

.editButtonDiv{
    position: absolute;
    background-color: #cccccc;
    padding: 0.30vw;
    border-radius: 50%;
}

.editButton {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.editButtonImage {
	width: 1.5vw; /* Adjust size as needed */
	height: 1.5vw;
}

.submitButtonsEdit{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    margin: 1vh 0;
}

.submitButtonsEdit > input{
    padding: 1vh 1vh; 
    border: none;
    border-radius: 1vh;
    color: white;
    font-size: 1.8vh;
    cursor: pointer;
    transition: background-color 0.3s;
}

.deleteButton{
    background-color: rgb(255, 100, 100);
}

.deleteButton:hover{
    transform: scale(1.05); /* Slightly enlarge on hover */
    background-color: rgb(224, 89, 89);
}

.saveButton{
    background-color: #4CAF50;
}

.saveButton:hover{
    transform: scale(1.05); /* Slightly enlarge on hover */
    background-color: #3b863e;
}

.dropdown2{
    position: absolute;
    top: 10vh;
    left: 45vw;
    background-color: #282B30;
    padding: 1%;
    border-radius: 0 0 10px 10px;
    width: 30vw;
    height: fit-content;
    z-index: 10;
}

.dropdown2 p{
    font-size: 0.6em;
    letter-spacing: normal;
    font-weight: Regular;
    font-family: JetBrains Mono;
    color: white;
}

.dropdown2 > textarea{
    width: 100%;
    height: 10vh;
    margin-top: 10px;
    background-color: #21212100;
    color: white;
    font-size: 0.5em;
    font-weight: Regular;
    font-family: JetBrains Mono;
    border: none;
    resize: none;
    outline:0px !important;
    appearance: none;
    -webkit-appearance: none;
    box-shadow: none !important;
    border: 1px solid #ccc;
    padding: 1%;
}

.clipboard-button, .send-button{
    padding: 4px 5px; 
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.clipboard-button{
    background-color: #4CAF50;
}
.clipboard-button:hover{
    background-color: #3b863e;
}

.send-button{
    background-color: #007bff;
}
.send-button:hover{
    background-color: #0069d9;
}

.add-button{
    background-color: #007bff;
}

.add-button:hover{
    background-color: #0069d9;
}

.inventoryNav {
    display: flex;
    flex-direction: column;
    position: sticky; /* Sticky for scrolling behavior */
    left: 99vw;         /* Offset from the right edge of the screen */
    top: 50%;          /* Start at 50% of the viewport height */
    transform: translateY(-50%); /* Center the element vertically */
    width: 3vw;        /* Width as 5% of the viewport width */
    z-index: 5;        /* Ensure it's above other elements */
    font-size: 0.9vw;
}

main > h2{
    font-size: 1.6vw;
    font-weight: Regular;
    font-family: JetBrains Mono;
    color: white;
    opacity: 1;
}

.plus-sign{
    font-size: 3vw;
    color: white;
    cursor: pointer;
}

.editForm{
    height: 100%;
    position: relative;
    color: white;
    border-radius: 10px;
    z-index: 1000;
}